body {
  background-color: white;
  text-align: center;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#svg-container {
  width: 80%;
}

#list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

bubble {
  border-radius: 50%;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    circle at bottom,
    #81e8f6,
    #76deef 10%,
    #055194 80%,
    #062745 100%
  );
  transition: all 0.5s;
}
/* circle {
  fill: url(#grad1);
} */
