body {
  background-color: white;
  text-align: center;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

#one {
  border: 5 solid black;
}

bubble {
  background: white;
  border-radius: 50%;

  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    circle at bottom,
    #81e8f6,
    #76deef 10%,
    #055194 80%,
    #062745 100%
  );
}
