body {
  background-color: steelblue;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

#list {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

bubble {
  display: block;
  background: white;
  border-radius: 50%;
  height: 5em;
  width: 5em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
